<html lang="en">

<head>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://picsum.photos/250/300" alt="">
    </div>

    {{>footer}}
</body>

</html>